.btn-logout {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    border: solid 1px #ccc;
    padding: 5px 10px;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

.btn-logout:hover {
    background-color: var(--bs-dark-bg-subtle) !important;
}