.results {
    font-size: 0.75rem;
    margin-bottom: 0;
    position: relative;
    margin-left: 0;
    padding-left: 2em;
}

.results li {
    line-height: 20px;
}

.media-icon {
    font-size: 2rem;
}

.head-icon {
    font-size: 1.3rem;
    color: var(--main-color);
}